# webfront
# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# production
**/build

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# streamlit
.*.pem
.*pem
*.pem
__pycache__/
deployment/
trash_bin/
.env
.vscode
.vscode.*
.venv
.venv.*
.idea
.idea.*
.vagrant
.vagrant.*
.DS_Store
.vscode
.vscode.*
.venv
.venv.*
.idea
.idea.*
.vagrant
.vagrant.*
# ckq personal
*.code-workspace
**/waste_*/
**/scripts_refer*
**/test_LM*/
*.cache
**/refer_scripts
# personal
*.zip
*.lock
*.npy
*.pkl
*.json
*.npy
**/*.npy
*.jsonl
*.csv
*.xlsx
*.txt
*.png
*.jpg
*.pt
*.pth
*.log
*.bin
*.safetensors
activations_data/*
activations_data/qwen2.5-7_truthful_qa_judge_activations/mlp_output_activations.npy
