# /home/ckqsudo/code2024/CKQ_ACL2024/NeuroSteer/results/demo/demo_v1/gpt2-small_debate_layer_6_datasize_ALL_batchsize32_topK_100
!**/results/demo/demo_v1/gpt*/**
!**/results/demo/demo_v1/gpt*/**
!**/results/demo/demo_v1/gpt*/**


# webfront
# dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/baselines
# testing
**/coverage
**/.git/objects
# production
**/build

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.steer_eval*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# streamlit
.*.pem
.*pem
*.pem
__pycache__/
deployment/
trash_bin/
.env
.vscode
.vscode.*
.venv
.venv.*
.idea
.idea.*
.vagrant
.vagrant.*
.DS_Store
.vscode
.vscode.*
.venv
.venv.*
.idea
.idea.*
.vagrant
*.0.jar
.vagrant.*
# ckq personal
*.code-workspace
**/waste_*/
**/alpha*/
**/gpt2-small_*/
**/scripts_refer*
**/test_LM*/
*.cache
**/refer_scripts
# personal
*steer_eval*
*.zip
*.lock
*.npy
*.pkl
*.json
*.npy
**/*.npy
*.jsonl
*.csv
*.xlsx
*.txt
*.png
*.jpg
*.xml
*.pt
*.zip
*.pt
*.pth
*.log
*.bin
*.safetensors
*.safetensors
activations_data/*
activations_data/qwen2.5-7_truthful_qa_judge_activations/mlp_output_activations.npy

